body {
  background-color: black;
  color: white;
}
  
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
  
p {
  font-size: large;
  text-align: left;
}

p.ex1 {
  padding: 1rem;
  max-width: 20px;
  margin-left: 4rem auto;
  margin-right: 4rem auto;
  margin-top: 4rem auto;
  margin-bottom: 4rem auto;
  font-family: "Open Sans", sans-serif;
 }
